/* Variables */
:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-grey: #464646;
    --basic-half-grey: #7E7E7E;
    --basic-grey-light: #E5E5E5;
    --basic-white: #FFFFFF;

    --special-yellow-dark: #F0C52E;
    --special-yellow-light: #F7E296;
    --special-green: #91C92F;

    --warning-red-light: #F6DADA;
}

/* Fonts */
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/web/gilroylight.woff2'),
         url('../fonts/web/gilroylight.woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/web/gilroyextrabold.woff2'),
         url('../fonts/web/gilroyextrabold.woff');
    font-style: normal;
    font-weight: 800;
}

/* Global */
.page {
    height: 100%;
}

.page-body {
    font-family: 'Gilroy', Arial, sans-serif;
    min-height: 100%;
    min-width: 1180px;
    margin: 0;
    padding: 0;
    background-color: var(--basic-white);
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

a, a:link, a:visited,
a:focus, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */
.page-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: center;
}

.header {
    width: 1160px;
    padding: 0px 60px;
    padding-bottom: 120px;
    margin: 40px auto;

    background-color: var(--special-yellow-light);
}

.header .logo {
    position: absolute;
    padding: 20px 0;
    margin-top: -40px;
}

.link-line {
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding-top: 44px;
    padding-bottom: 20px;

    width: auto;
    display: flex;
    flex-direction: row;
}

.link-line li {
    list-style: none;
}

.search {
    flex-basis: 540px;
    flex-shrink: 0;
}

.authorization {
    margin: 0;
    flex-shrink: 0;
    margin-right: auto;
}

.cart-links {
    margin: 0;
    flex-shrink: 0;
    margin-left: auto;
}

.cart-links ul {
    padding: 0;
    margin: 0;
    text-align: right;
}

.cart-links li {
    display: inline-block;
    padding-left: 63px;
}

.navigation {
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

.navigation ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation li:first-child {
    flex-basis: 540px;
}

.navigation li:nth-child(2) {
    margin-right: 38px;
}

.navigation li:nth-child(3) {
    margin-right: auto;
}

.navigation li:last-child {
    margin-left: auto;
}

.navigation li {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    list-style: none;
}

.catalog-menu {
    display: none;
}

.catalog-menu ul {
    margin: 0;
    padding: 0;
}

.catalog-menu li {
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    list-style: none;
}

/* Main */
.content {
    width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.content-title {
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: inherit;
    
    margin: 0;
    margin-bottom: 30px;
}

.section-title {
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: inherit;

    margin: 0;
    margin-bottom: 50px;
}

/* Основной слайдер */
.slider {
    position: relative;
}

.slider .current-slide {
    min-height: 520px;
    padding-right: 50px;
    margin-top: -170px;

    display: grid;
    grid-template-columns: 600px 1fr;
}

.slide .details {
    position: absolute;
    left: 0px;
    bottom: 25%;
}

.slide {
    display: none;
}

.slide img {
    margin: auto;
}

.specification {
    display: flex;
    flex-direction: column;

    position: relative;
}

.specification h2 {
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    margin: 0;
    margin-top: -95px;
}

.specification p {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
}

.slider-number {
    font-weight: 800;
    font-size: 179px;
    line-height: 190px;
    color: var(--basic-white);

    align-self: flex-end;
    order: -1;
}

.features {
    margin-top: auto;

    display: flex;
}

.feature {
    padding-right: 20px;
}

.feature dd {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    padding: 0;
    margin: 0;
}

.feature dt {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
}

.slider-controls {
    position: absolute;
    right: 60px;
    bottom: 25%;
}

.slider-controls button {
    padding: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 9px;

    position: relative;
}

.slider-controls .current::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;

    width: 6px;
    height: 6px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 50%;
}

/* Популярные разделы магазина */
.popular {
    padding: 50px 0;
    margin: 0;
}

.category {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.category li {
    flex-basis: 160px;
}

.icon-background {
    background-color: var(--special-yellow-light);
    width: 160px;
    height: 160px;
    margin-bottom: 38px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.category a {
    font-weight: 800;
    font-style: 18px;
    line-height: 22px;
}

/* Услуги */
.service-list {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 285px 1fr;
}

.service-switch {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-switch li {
    margin-bottom: 30px;
}

.warranty,
.credit {
    display: none;
}

/* Наши партнеры */
.partners {
    padding: 50px 0;
    margin: 0;
}

.partners-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40;
}

.partners-list img {
    width: 260px;
}

.partners-list img:not(:hover) {
    filter: grayscale(100%);
    opacity: 20%;
}

/* О нас и Контакты */

.index-columns {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .index-columns > div {
    display: flex;
    flex-direction: column;
} */

.index-columns a {
    margin-top: auto;
}

.index-columns p {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    color: inherit;

    margin-bottom: 40px;
}

.index-columns a {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.index-columns .rectangle {
    margin-bottom: 50px;
}

.about-us {
    width: 473px;
}

.about-us ul {
    margin: 0;
    margin-top: 60px;
}

.about-us li {
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    color: inherit;
    
    margin-bottom: 20px;
}

.contacts img {
    width: 560px;
    height: 222px;
}

/* Страницы каталога */
.catalog {
    padding: 0;
    padding-left: 60px;
}

.breadcrumbs {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: inherit;
    margin-bottom: 50px;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    display: inline;
    padding-right: 40px;
}

.catalog-columns {
    display: flex;
}

.filter {
    width: 268px;
    margin-right: auto;

    background-color: var(--basic-grey-light);
}

.goods {
    width: 760px;
}

.item h2,
.item span {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 42px;
}

.filter legend {
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;

    padding-top: 14px;
    margin-bottom: 30px;
}

.filter label {
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;

    display: block;
    margin-bottom: 20px;
}

.filter button {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.item-title {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: inherit;
}

.goods span {
    font-size: 16px;
    line-height: 18px;
    color: inherit;
}

.goods ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.goods img {
    width: 360px;
    height: 380px;
    margin-bottom: 30px;
}

/* Footer */
.footer {
    background-color: var(--basic-dark);
    color: var(--basic-white);
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 65px;
}

.footer-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;

    padding-top: 46px;
}

.footer-links .authorization {
    margin: 0;
    margin-left: auto;
}

.footer-links .cart-links {
    margin: 0;
}

.footer .logo {
    padding-bottom: 20px;
}

.footer-contacts {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
}

.footer-navigation {
    text-align: center;
    margin: 0;
    margin-bottom: 67px;
}

.footer-navigation ul {
    margin: 0;
    padding: 0;
}

.footer-navigation li {
    font-family: 'Gilroy', Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    list-style: none;
}

.footer-navigation li {
    display: inline;
}

.footer-navigation li:nth-child(2) {
    padding: 0 36px;
}

.phone {
    text-align: right;
}

.socials {
    text-align: center;
    margin: 0;
}

.socials ul {
    margin: 0;
    padding: 0;
}

.socials li {
    list-style: none;
    display: inline;
}

.socials li:nth-child(2) {
    padding: 0 20px;
}

.htmlacademy {
    text-align: right;
}

/* Popups */
.contact-form, .map {
    display: none;
}
